<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Webrtc video conference.">
  <meta name="keywords" content="webrtc, video, conference">
    <title><%= title %></title>

  <!-- Favicons-->
  <!-- <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32"> -->
  <!-- Favicons-->
  <!-- <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png"> -->
  <!-- For iPhone -->
  <!-- <meta name="msapplication-TileColor" content="#00bcd4"> -->
  <!-- <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png"> -->
  <!-- For Windows Phone -->


  <!-- CORE CSS-->
  <% locals.prefix = "../../MaterializeTemplate/" %>
  <link href="<%= prefix %>css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="<%= prefix %>css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- CSS for full screen (Layout-2)-->    
  

  <!-- Custome CSS-->    
    <link href="<%= prefix %>css/custom/custom.css" type="text/css" rel="stylesheet" media="screen,projection">

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="<%= prefix %>js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="<%= prefix %>js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  <script src="https://cdn.bootcss.com/handlebars.js/4.0.11/handlebars.min.js"></script>
  
</head>